{% extends 'base.html.twig' %}

{% block title %}CFD | Résultat{% endblock %}

{% block body %}
<style>


</style>


<div id="results">

  <center><h4>Vos modifications ont été pris en compte</h4>
  <p>Veuillez nous contacter si vous avez d'autres questions </p>
  <p class="contact"><a href="mailto:organismecfd@gmail.com" class="btn">Nous contacter</a></p>
</center>
  </div>
{% endblock %}
