{% extends 'base.html.twig' %}

{% block title %} Vérif'permis | apropos {% endblock %}

{% block body %}
<style type="text/css">
.info_legales div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #eb6864;
    border-radius: 15px;
    color: #eb6864;
    margin-top: 20px;
}

.content_legale{
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>   
 <div>
 <h1>MENTIONS LEGALES :</h1>

 <i><p style="text-align:justify"><strong>PROPRIÉTÉ INTELLECTUELLE</strong></p></i>
 
 <p style="text-align:justify">La charte graphique et les contenus du site sont protégés par la 
 législation relative Code de la Propriété Intellectuelle et des Réglementations Internationales applicables.
 En conséquence, toute représentation, reproduction, modification ou, de manière plus générale,
 exploitation de la charte graphique ou des contenus du présent site sans autorisation expresse et préalable
 de OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif'permis » est interdite. 
 Toute exploitation non autorisée de ces éléments est constitutive d’acte de contrefaçon de droit d’auteur
 et/ou droit des signes distinctifs et engage la responsabilité pénale et civile du contrevenant. </p>
 
 <i><p><strong>2- CONDITIONS GÉNÉRALES D’UTILISATION DU SITE ET DES SERVICES PROPOSÉS</strong></p></i>
 
 <p style="text-align:justify">L’utilisation de la plateforme « Vérif'permis » implique l’acceptation 
 pleine et entière des conditions générales d’utilisation ci-après décrites. 
 Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment,
 les utilisateurs de la plateforme « Vérif permis » sont donc invités à les consulter de manière régulière.
 Ce site internet est normalement accessible à tout moment aux utilisateurs. 
 Une interruption pour raison de maintenance technique peut être toutefois décidée par de la plateforme « Vérif permis », 
 qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
 La plateforme « Vérif permis » est mis à jour régulièrement par le responsable de la publication. 
 De la même façon, les mentions légales peuvent être modifiées à tout moment : 
 elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
 
 <i><p><strong>3- LIMITATION DE RESPONSABILITÉ</strong></p></i>
 
 <p style="text-align:justify">Les informations contenues sur ce site sont aussi précises que possibles
 et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, 
 des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement,
 merci de bien vouloir le signaler par email (contact@omblines.com) en décrivant le problème de la manière la plus précise possible 
 (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).
 </p>
 
 <p>Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa seule responsabilité. 
 En conséquence, la plateforme « Vérif permis » ne saurait être tenue responsable d’un quelconque dommage
 subi par l’ordinateur de l’utilisateur ou d’une quelconque perte de données consécutives au téléchargement.
 </p>
 <p>Les photos sont non contractuelles.
 Les liens hypertextes mis en place dans le cadre du présent site internet en direction d’autres ressources 
 présentes sur le réseau Internet ne sauraient engager la responsabilité de de la plateforme « Vérif permis ».
 </p>
 
 
 
 <i><p><strong>4- LIMITATIONS CONTRACTUELLES SUR LES DONNÉES TECHNIQUES</strong></p></i>
 
 <p>
 L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité.
 L’hébergeur assure la continuité de son service 24 Heures sur 24, tous les jours de l’année.
 Il se réserve néanmoins la possibilité d’interrompre le service d’hébergement pour les durées
 les plus courtes possibles notamment à des fins de maintenance, d’amélioration de ses infrastructures,
 de défaillance de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.
 </p>
 <p>
 OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »  
 et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet,
 des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.
 </p>
 
 <i><p><strong>5- GESTION DES DONNÉES PERSONNELLES.</strong></p></i>
 
 <p style="text-align:justify">Le Client est informé des réglementations concernant la communication marketing,
 la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique,
 la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
 </p>
 <p>
 En tant que responsable du traitement des données qu’il collecte,
 Ombline Company en qualité de propriétaire de la plateforme « Vérif permis » s’engage à respecter le cadre des dispositions légales en vigueur.
 Il lui appartient notamment au Client d’établir les finalités de ses traitements de données,
 de fournir à ses prospects et clients, à partir de la collecte de leurs consentements,
 une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité.
 Chaque fois que OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »
 traite des Données Personnelles, OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » 
 prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles 
 au regard des finalités pour lesquelles OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis » les traite.
 </p>
 
 <i><p><strong>5-1 FINALITÉ DES DONNÉES COLLECTÉES</strong></p></i>
 
 <p style="text-align:justify">OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » est susceptible de traiter tout ou partie des données :</p>
 
 <p>
 •	pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.
 </p>
 <p>
 •	pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé)
 </p>
 <p>
 •	pour améliorer la navigation sur le Site : données de connexion et d’utilisation
 </p>
 <p>
 •	pour mener des enquêtes de satisfaction facultatives sur Vérif permis  : adresse email.
 </p>
 
 </p>
 
 <br>
 <p>
 OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » 
 ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.
 </p>
 
 <i><p><strong>5-2 DROIT D’ACCÈS, DE RECTIFICATION ET D’OPPOSITION</strong></p></i>
 
 <p style="text-align:justify">Conformément à la réglementation européenne en vigueur, 
 les Utilisateurs du site OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis » disposent des droits suivants :
 </p>
 
 <p>
 •	droit d’accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l’utilisation, la communication ou la conservation est interdite
 </p>
 <p>
 •	droit de retirer à tout moment un consentement (article 13-2c RGPD)
 </p>
 <p>
 •	droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
 </p>
 <p>
 •	droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)
 </p>
 <p>
 •	droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
 </p>
 <p>
 •	droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » devra communiquer (ou non) ses données à un tiers qu’il aura préalablement désigné.
 </p>
 
 <br>
 <p>
 Dès que OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »  a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part,
 OMBLINE COMPANY  s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une obligation légale.
 </p>
 <br>
 <p>
 Si l’Utilisateur souhaite savoir comment OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » 
 utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, 
 l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que OMBLINE COMPANY  
 en qualité de propriétaire de la plateforme « Vérif permis » corrige, mette à jour ou supprime, 
 en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport) 
 par voie électronique à l’adresse email suivante : contact@omblines.com  ou par écrit à l’adresse postale suivante :
 </p>
 
 <p><strong>OMBLINE COMPANY  – Siège Social – 115 RUE DE NOIRMOUTIER 78310 MAUREPAS</strong></p>
 <br>
 <p>
 Les demandes de suppression de Données Personnelles seront soumises aux obligations 
 qui sont imposées à OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis » par la loi,
 notamment en matière de conservation ou d’archivage des documents. 
 Enfin, les Utilisateurs de OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »
 peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL.
 </p>
 
 <i><p><strong>5-3 NON-COMMUNICATION DES DONNÉES PERSONNELLES</strong></p></i>
 
 <p style="text-align:justify">
 OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » s’interdit de traiter,
 héberger ou transférer les informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou reconnu
 comme « non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, OMBLINE COMPANY en 
 qualité de propriétaire de la plateforme « Vérif permis »  reste libre du choix de ses sous-traitants techniques et commerciaux
 à la condition qu’ils présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des 
 Données (RGPD : n° 2016-679).
 </p>
 <p style="text-align:justify">
 OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » 
 s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité 
 des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées.
 Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du Client
 est portée à la connaissance de OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis », 
 celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises.
 Par ailleurs OMBLINE COMPANY  ne collecte aucune « données sensibles ».
 </p>
 
 <i><p><strong>5-4 SÉCURITÉ</strong></p></i>
 <p style="text-align:justify">
 Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage électronique n’est complètement sûre.
 Nous ne pouvons en conséquence pas garantir une sécurité absolue. 
 Pour assurer la sécurité et la confidentialité des Données Personnelles,
 OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » 
 utilise des réseaux protégés par des dispositifs standards tels que par pare-feu,
 la pseudonymisation, le chiffrement et l’authentification à facteur multiple.
 Lors du traitement des Données Personnelles, OMBLINE COMPANY en qualité de 
 propriétaire de la plateforme « Vérif permis »  prend toutes les mesures raisonnables 
 visant à les protéger contre toute perte, utilisation détournée, accès non autorisé, 
 divulgation, altération ou destruction.
 </p>
 
 <i><p><strong>6- LIENS HYPERTEXTES</strong></p></i>
 <p style="text-align:justify">
 Le site internet de OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis »
 peut offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.
 </p>
 <br>
 <p style="text-align:justify">
 OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »  
 ne dispose d’aucun moyen pour contrôler les sites en connexion avec ses sites internet. 
 OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » ne répond pas 
 de la disponibilité de tels sites et sources externes, ni ne la garantit. 
 Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, 
 résultant du contenu de ces sites ou sources externes, et notamment des informations, 
 produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. 
 Les risques liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer 
 à leurs conditions d’utilisation.
 </p>
 <br>
 <i><p><strong>6- LIENS HYPERTEXTES</strong></p></i>
 <p style="text-align:justify">
 Les utilisateurs, les abonnés et les visiteurs des sites internet de OMBLINE COMPANY 
 en qualité de propriétaire de la plateforme « Vérif permis » ne peuvent mettre en place un hyperlien
 en direction de ce site sans l’autorisation expresse et préalable de OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis ». 
 </p>
 <br>
 <p style="text-align:justify">
 Dans l’hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un 
 hyperlien en direction d’un des sites internet de OMBLINE COMPANY en qualité de 
 propriétaire de la plateforme « Vérif permis », il lui appartiendra d’adresser un 
 email accessible sur le site afin de formuler sa demande de mise en place d’un hyperlien. 
 OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »   
 se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
 </p>
 
 <i><p><strong>7- « COOKIES »</strong></p></i>
 <p style="text-align:justify">
 Un « cookie » est un petit fichier d’information envoyé sur le navigateur de l’Utilisateur 
 et enregistré au sein du terminal de l’Utilisateur (ex : ordinateur, smartphone), 
 (ci-après « Cookies »). Ce fichier comprend des informations telles que le nom de 
 domaine de l’Utilisateur, le fournisseur d’accès Internet de l’Utilisateur, 
 le système d’exploitation de l’Utilisateur, ainsi que la date et l’heure d’accès. 
 Les Cookies ne risquent en aucun cas d’endommager le terminal de l’Utilisateur.
 Ils sont susceptibles de traiter les informations de l’Utilisateur concernant 
 sa visite du Site, telles que les pages consultées, les recherches effectuées. 
 Ces informations permettent à OMBLINE COMPANY  en qualité de propriétaire de la 
 plateforme « Vérif permis » d’améliorer le contenu du Site, de la navigation de l’Utilisateur.
 </p>
 <br>
 <p>
 Les Cookies facilitant la navigation et/ou la fourniture des services proposés par le Site,
 l’Utilisateur peut configurer son navigateur pour qu’il lui permette de décider
 s’il souhaite ou non les accepter de manière à ce que des Cookies soient enregistrés
 dans le terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement,
 soit selon leur émetteur. L’Utilisateur peut également configurer son logiciel
 de navigation de manière à ce que l’acceptation ou le refus des Cookies lui
 soient proposés ponctuellement, avant qu’un Cookie soit susceptible d’être
 enregistré dans son terminal. OMBLINE COMPANY  en qualité de propriétaire
 de la plateforme « Vérif permis » informe l’Utilisateur que, dans ce cas,
 il se peut que les fonctionnalités de son logiciel de navigation ne soient
 pas toutes disponibles.
 Le cas échéant, OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »
 décline toute responsabilité pour les conséquences liées au fonctionnement dégradé du Site 
 et des services éventuellement proposés par OMBLINE COMPANY en qualité de propriétaire de 
 la plateforme « Vérif permis », résultant (i) du refus de Cookies par l’Utilisateur (ii) de 
 l’impossibilité pour OMBLINE COMPANY  en qualité de propriétaire de la plateforme « Vérif permis » 
 d’enregistrer ou de consulter les Cookies nécessaires à leur fonctionnement du fait du choix de 
 l’Utilisateur. Pour la gestion des Cookies et des choix de l’Utilisateur, 
 la configuration de chaque navigateur est différente. 
 Elle est décrite dans le menu d’aide du navigateur, 
 qui permettra de savoir de quelle manière l’Utilisateur 
 peut modifier ses souhaits en matière de Cookies.
 </p>
 <br>
 <p>
 Si l’Utilisateur refuse l’enregistrement de Cookies dans son terminal ou son navigateur,
 ou si l’Utilisateur supprime ceux qui y sont enregistrés, l’Utilisateur est informé que
 sa navigation et son expérience sur le Site peuvent être limitées. Cela pourrait également
 être le cas lorsque OMBLINE COMPANY en qualité de propriétaire de la plateforme « Vérif permis »
 ou l’un de ses prestataires ne peut pas reconnaître, à des fins de compatibilité technique,
 le type de navigateur utilisé par le terminal, les paramètres de langue et d’affichage ou 
 le pays depuis lequel le terminal semble connecté à Internet.
 </p>
 
 <i><p><strong>8- LITIGES</strong></p></i>
 <p style="text-align:justify">
 Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges 
 qui pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la 
 compétence exclusive des tribunaux dont dépend le siège social de la société OMBLINE COMPANY 
 en qualité de propriétaire de la plateforme « Vérif permis ». 
 La langue de référence, pour le règlement de contentieux éventuels, est le français.
 </p>
 <br>
 <p><strong>Client : </strong></p>
 <p>
 tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, 
 ou personne morale, qui visite le Site objet des présentes conditions générales.
 </p>
 <p><strong>Utilisateur : </strong></p>
 <p>
 Internaute se connectant, utilisant le site susnommé.
 </p>
 <p><strong>Informations personnelles :</strong></p>
 <p>
 « Les informations qui permettent, sous quelque forme que ce soit, directement ou non,
 l’identification des personnes physiques auxquelles elles s’appliquent » 
 (article 4 de la loi n° 78-17 du 6 janvier 1978). Les termes « données à caractère personnel »,
 « personne concernée », « sous-traitant » et « données sensibles » ont le sens défini par le 
 Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
 </p>
 <p><strong>Charte Graphique : </strong></p>
 <p>
 désigne les créations relatives à la structure générale du Site, notamment les marques, les logos et les graphismes.
 </p>
 <p><strong>Contenus : </strong></p>
 <p>
 désigne les noms de domaine, les photographies, les animations, les textes, les descriptifs de cas et réalisations.</p>
    </div>
    <!--end div-->

{% endblock %}