<p>
Bonjour, <br />

Suite à votre demande, vous trouverez ci-joint le formulaire de demande de recevabilité. <br />

<a href="https://docs.google.com/forms/d/e/1FAIpQLSe1feJ3TxNTzHKvobi2ZZuHfmQ9omQjlhvsN4gdO1MkyPA4xQ/viewform?usp=pp_url">Remplir mon formulaire</a>

<br /> Vous trouverez également un document explicatif.
<br />
<p>Remarques : {{ message }} </p><br />
Cordialement,
<p>Numéro de Téléphone CFD à joindre: {{ telephone }}</p>
<br/>
CFD

<img src="./images/cffd.jpeg"></img>


