<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
        <div>
            <h1>Nos solutions</h1>
            <h2></h2>
            <div id="al">
            <p><img id="im" src="/images/image4.jpg"></img></p>
            <p>
            Grâce à des technologies fiables et sécurisées, Vérif’permis permet de vérifier la conformité et la validité de tout permis de conduire, en temps réel.
            </p>
            </div>
        </div>
        <div id="img">
        <img src="\images\verif1.jpg"/>
        </div>
    
        <h1>NOS TARIFS</h1>
        <p>Payez en fonction de votre utilisation. 
        Vérif’permis pense à vous et vous propose une gamme de prix abordable. 
        <h4>Verif'Permis est disponible 24h/24 et vous obtenez instantanément le résultat de votre vérification !</h4>
        </p>
    
        <h5>Nos forfaits : </h5>
        <ul>
        <li>1 vérification = 2€</li>
        <li> 5 vérifications = 8,99€ </li>
        <li> 50 vérifications = 77,99€ </li>
        <li> A partir de 50 vérifications, chaque permis supplémentaire est facturé à 1€</li>
        </ul>
</body>

<style>
    #al{
        padding-top:50px;
    }
    
    #im{
     /* width:1200px;
      height:400px;*/
      width: 100%;
      height: 400px;
    }
    #tt li{
        padding-top:20px;
    }
    
    .icc{
        width:60px;
        height:60px;
    }
    
    #tt{
        margin-left: 40%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #te{
        text-align: left;
    }

    #img{
        margin-left:250px;
    }

    </style>
</html>