{% extends 'base.html.twig' %}

{% block title %}Hello ModeleController!{% endblock %}

{% block body %}
<div>

<p><a href="/fichiers/modele_fichier_excel.xlsx">Telecharger un modèle</a></p>
</div>
{% endblock %}
