{% extends 'base.html.twig' %}

{% block title %}Hello PoleController!{% endblock %}

{% block body %}
<img src="./images/polee.png"></img>
<h4>DOKELIO:</h4>
Une base de données pour les organismes de formation DOKELIO Ile-de-France est la base régionale de l’offre de Formation professionnelle continue (FPC) sur financement public (conventionnée) ou privé. Elle permet une large visibilité gratuite sur des sites clés de la formation professionnelle continue comme www.defi-metiers.fr, les portails www.intercariforef.org, www.alternance.emploi.gouv.fr/portail_alternance, www.orientation-pour-tous.fr et labonneformation.pole-emploi.fr, ainsi que les systèmes d’information de Pôle emploi et des missions locales. Il est essentiel et incontournable aujourd’hui pour les organismes de formation d’être présents dans DOKELIO, de renseigner leurs actions de formation et de mettre à jour régulièrement et en amont les dates de session.
<h4>KAIROS:</h4>
L’interface entre vous et le demandeur d’emploi KAIROS est la plateforme de pôle emploi qui vise à faciliter la transmission des informations relatives aux parcours de formation des demandeurs d’emploi. Une fois inscrit sur cette plateforme, toutes vos formations vont apparaître dans la liste de formations agréées disponibles et vous permettre de gérer le parcours de votre stagiaire. Ne passez pas à côté d’une manne financière, gagnez du temps! Confiez-nous vos démarches de référencement Pôle Emploi
<div class="info-site-detail">
        <button class="saut" style="background-color:#001387; margin-left: 50%"><a href="{{ path('contactt')}}" style="color:white">Demandez un devis</a></button>  
</div>
{% endblock %}