{% extends 'base.html.twig' %}

{% block title %}Qualiopi{% endblock %}
{% block body %}
<img src="./images/qualio.jpg" class="qualioimg" style="margin-left: 200px"></img>
<p>
<h4>Vous êtes formateur indépendant, ou vous avez un organisme de formation dont vous souhaitez améliorer le service, la e-réputation, maîtriser la gestion, améliorer la pédagogie?</h4><br/>
Vous pouvez vous former dans tous ces domaines chez Organisme CFD. Nous avons conscience que devenir un formateur est un vrai métier dont les outils ne sont pas évidents. <br />
C’est pourquoi nous vous accompagnons en vous aidant à les maîtriser, tout en continuant à partager votre expertise avec vos clients.
On aide les organismes de formation et les formateurs indépendants à développer une offre de formations éligible aux différents types de financement. <br /> 
La nouvelle réforme impose aux organismes de formation de certifier/labelliser son organisme de formation. Cette démarche sera obligatoire au 1er Janvier 2022. Il permet de se démarquer de la concurrence en prouvant la qualité de votre organisme de formation.
</p>
<div class="info-site-detail">
        <button class="saut" style="background-color:#001387; margin-left: 50%"><a href="{{ path('contactt')}}" style="color:white">Demandez un devis</a></button>  
</div>

{% endblock %}
