{% extends 'base.html.twig' %}

{% block title %}EdofController{% endblock %}

{% block body %}
<img src="./images/edof.png"></img>
<h4>Vous avez un organisme de formations agréé et vous êtes éligible au CPF ? </h4>
Vous êtes concerné par un référencement de votre catalogue de formations sur EDOF! La seule condition: être habilité à délivrer des certifications enregistrées au Répertoire National des Certifications Professionnelles (RNCP) ou au Répertoire Spécifique (RS) </h4>
Un Portefeuille de clients qui vous attend ! </br>

Ne perdez plus de temps: nous vous accompagnons pour donner plus de visibilité à votre activité et avoir accès à un portefeuille innombrable de clients. Effectivement, une fois référencées vos formations et prestations peuvent être consultées et sélectionnées par les titulaires d’un Compte Formation.</br>
<h4>Gestion de votre OF:</h4>
Le portail EDOF est aussi un moyen de suivre son activité, gérer ses données administratives, ses coordonnées et son catalogue de formation. En nous confiant le référencement de votre annuaire de formations sur EDOF, vous êtes assuré d’un suivi d’activité précis, de pouvoir accéder à votre tableau de bord ainsi qu’à vos données administratives et vos listes de contacts, et enfin de pouvoir mettre à jour votre catalogue de formations en temps réel.

<div class="info-site-detail">
        <button class="saut" style="background-color:#001387; margin-left: 50%"><a href="{{ path('contactt')}}" style="color:white">Demandez un devis</a></button>  
</div>

{% endblock %}
